<!DOCTYPE html>
<html>
   <head> 
     <title>Careers</title>  
     {%include 'bootstrap.html'%}

   </head>
<body>
   {%include 'nav.html'%}
    {%include 'banner.html'%}
  <div class="container">
    <h1 class="text-center mt-4 mb-2">JobNav Careers</h1>

  <p class="lead">Welcome to our website, where we offer a comprehensive range of career guidance and job opportunities to help you achieve your professional goals. Whether you are a recent graduate just starting out, or an experienced professional looking for your next challenge, we have something for you. Our website features a regularly updated list of job openings from a variety of industries, including IT, healthcare, finance, and many more. We also offer personalized career coaching and guidance to help you navigate your job search and find the right position for your skills and experience. Our team of experienced career counselors are dedicated to helping you achieve success in your chosen field, and we work tirelessly to connect you with the right employers and job opportunities. So why wait? Start exploring our website today and take the first step towards a fulfilling and rewarding career.</p>
  <h2 class="text-center mt-2 mb-2">Explore Job openings</h2>
  <div>
    {% for job in jobs %}
        {%include 'jobitems.html'%}
    {% endfor%}
  </div>
  <a href="mailto:dubeys1@gmail.com?subject=Query%20related%20to%20job%20openings&body=Name%3A%3Cyour%20name%20here%3E%0D%0AQuestion%2FSuggestions%3A%20%3CProvide%20your%20input%3E%0D%0A" button type="button" class="btn btn-primary btn-sm mt-2"> Contact us</a>
      <p class="text-center mt-4 mb-2"> Copyright 2022 JN careers</p>
    {%include 'footer.html'%}
</body>
</html>